body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#container{
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    padding: 40px;
    width: 550px;

    
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}
input{
    height: 20px;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}
.in{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}
label{
    padding-left: 2px;
}
#right{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    font-size: 2.5rem;
}
#box{
    border-radius: 10px;
    background-color: hsl(30deg 0% 90%);
    font-size: 0.9rem;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
s{
    color: hsl(30deg 0% 63%);
}
#up{
    box-sizing: border-box;
    padding: 12px;
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}